<a href="https://colab.research.google.com/github/bitwoman/pense-em-python/blob/main/capitulo_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ESTUDO DO LIVRO "Pense em Python", DO AUTOR ALLEN B. DOWNEY**

<p> Estudos iniciados em 20-06-2024. </p>

# Capítulo 10: Listas

<h2> 10.1 - Uma lista é uma sequência </h2>

Como uma string, uma lista é uma sequência de valores. Em uma string, os valores são caracteres; em uma lista, eles podem ser de qualquer tipo. Os valores em uma lista são chamados de elementos, ou, algumas vezes, de itens.

**Os elementos de uma lista não precisam ser do mesmo tipo.**

**Uma lista dentro de outra lista é uma lista aninhada.**

**Podemos atribuir uma lista de valores a variáveis.**

In [ ]:
# exemplo
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(cheeses)

['Cheddar', 'Edam', 'Gouda']

<h2> 10.2 - Listas são mutáveis </h2>

A sintaxe para acessar os elementos de uma lista é a mesma que para acessar os caracteres de uma string: o operador de colchete. A expressão dentro dos colchetes especifica o índice. Lembre-se de que os índices começam em 0:

In [ ]:
cheeses[0]

'Cheddar'

Diferente das strings, listas são mutáveis. Quando o operador de colchete aparece do lado esquerdo de uma atribuição, ele identifica o elemento da lista que será atribuído:

In [ ]:
# exemplo: alterando a posição 1 da lista numbers
numbers = [42, 123]
numbers[1] = 5
numbers

[42, 5]

Índices de listas funcionam da mesma forma que os índices de strings:

- Qualquer expressão de números inteiros pode ser usada como índice.
- Se tentar ler ou escrever um elemento que não existe, você recebe um IndexError.
- Se um índice tiver um valor negativo, ele conta de trás para a frente, a partir do final
da lista.

O operador in também funciona com listas:

In [ ]:
'Edam' in cheeses

True

<h2> 10.3 - Percorrendo uma lista </h2>

A forma mais comum de percorrer os elementos em uma lista é com um loop for. A
sintaxe é a mesma que a das strings:

In [ ]:
for cheese in cheeses:
  print(cheese)

Cheddar
Edam
Gouda

Isso funciona bem se você precisa apenas ler os elementos da lista. Mas se você quer escrever ou atualizar os elementos, você precisa dos índices. Uma forma comum de fazer isso é combinar as funções integradas range e len:

In [ ]:
# Este loop percorre a lista e atualiza cada elemento.
for i in range(len(numbers)):
  numbers[i] = numbers[i] * 2

Um loop for que passe por uma lista vazia nunca executa o corpo:

In [ ]:
for x in []:
  print('This never happens.')

Apesar de uma lista poder conter outra lista, a lista aninhada ainda conta como um único elemento. O comprimento desta lista é quatro:

In [ ]:
lista = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
len(lista)

4

<h2> 10.4 - Operações com listas </h2>

O operador + concatena listas:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

O operador * repete a lista um dado número de vezes:

In [ ]:
[0] * 4

[0, 0, 0, 0]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

<h2> 10.5 - Fatias de listas </h2>

O operador de fatiamento também funciona com listas:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [ ]:
t[:4]

['a', 'b', 'c', 'd']

In [ ]:
t[3:]

['d', 'e', 'f']

Se você omitir o primeiro índice, a fatia começa no início. Se você omitir o segundo, a fatia vai até o final. Se você omitir ambos, a fatia é uma cópia da lista inteira.

In [ ]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

Como as listas são mutáveis, pode ser útil fazer uma cópia antes de executar operações que as alterem.

Um operador de fatia à esquerda de uma atribuição pode atualizar vários elementos:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
t

['a', 'x', 'y', 'd', 'e', 'f']

<h2> 10.6 - Métodos de listas </h2>

O Python oferece métodos que operam em listas. Por exemplo, append adiciona um novo elemento ao fim de uma lista:

In [ ]:
t = ['a', 'b', 'c']
t.append('d') # adiciona na última posição
t

['a', 'b', 'c', 'd']

extend toma uma lista como argumento e adiciona todos os elementos:

Este exemplo deixa t2 intocado.

In [ ]:
t = ['a', 'b', 'c']
t2 = ['d', 'e']
t.extend(t2)
t

['a', 'b', 'c', 'd', 'e']

sort classifica os elementos da lista em ordem ascendente:

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

A maior parte dos métodos de listas são nulos; eles alteram a lista e retornam None. Se você escrever t = t.sort() por acidente, ficará desapontado com o resultado.

In [ ]:
t = t.sort()
t # não retorna nada

<h2> 10.7 - Mapeamento, filtragem e redução </h2>

Para somar o total de todos os números em uma lista, você pode usar um loop como esse:

In [ ]:
def add_all(t):
  total = 0

  for x in t:
    total += x

  return total



```
total += x
é equivalente a
total = total + x

```

In [ ]:
add_all([1,2,3,4,5])

15

No decorrer da execução do loop, total acumula a soma dos elementos; uma variável usada desta forma às vezes é chamada de **acumuladora**.

Somar todos elementos de uma lista é uma operação tão comum que o Python a oferece como uma função integrada, sum:

In [ ]:
t = [1, 2, 3]
sum(t)

6

Uma operação como essa, que combina uma sequência de elementos em um único valor, às vezes é chamada de **redução**.

Algumas vezes você quer percorrer uma lista enquanto cria outra. Por exemplo, a função seguinte recebe uma lista de strings e retorna uma nova lista que contém strings com letras maiúsculas:

In [ ]:
def capitalize_all(t):
  res = []

  for s in t:
    res.append(s.capitalize())

  return res

In [ ]:
capitalize_all(['a','b','c'])

['A', 'B', 'C']

Uma operação como capitalize_all às vezes é chamada de **mapeamento** porque ela
“mapeia” uma função (nesse caso o método capitalize) sobre cada um dos elementos em uma sequência.

Outra operação comum é selecionar alguns dos elementos de uma lista e retornar uma sublista. Por exemplo, a função seguinte recebe uma lista de strings e retorna uma lista que contém apenas strings em letra maiúscula:

In [ ]:
def only_upper(t):
  res = []
  for s in t:
    if s.isupper(): # isupper é um método de string que retorna True se a string contiver apenas letras maiúsculas.
      res.append(s)

  return res

In [ ]:
only_upper(['a','B','C'])

['B', 'C']

Uma operação como only_upper é chamada de filtragem porque filtra alguns dos
elementos e desconsidera outros.
As operações de lista mais comuns podem ser expressas como uma combinação de
**mapeamento**, **filtragem** e **redução**.

<h2> 10.8 - Como excluir elementos </h2>

Há várias formas de excluir elementos de uma lista. Se souber o índice do elemento que procura, você pode usar pop:

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1) # remove posição 1, que é b
x # pop altera a lista e retorna o elemento que foi excluído.

'b'

In [ ]:
t

['a', 'c']

Se você não incluir um índice, ele
exclui e retorna o último elemento.

Se não precisar do valor removido, você pode usar a instrução del:

In [ ]:
t = ['a', 'b', 'c']
del t[1]
t

['a', 'c']

Se souber o elemento que quer excluir (mas não o índice), você pode usar remove:

In [ ]:
t = ['a', 'b', 'c']
t.remove('b') # O valor devolvido por remove é None
t

['a', 'c']

Para remover mais de um elemento, você pode usar del com um índice de fatia:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

['a', 'f']

Como sempre, a fatia seleciona todos os elementos até, mas não incluindo, o segundo índice.

<h2> 10.9 - Listas e strings </h2>

Uma string é uma sequência de caracteres e uma lista é uma sequência de valores, mas uma lista de caracteres não é a mesma coisa que uma string. Para converter uma string em uma lista de caracteres, você pode usar list:

In [ ]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

Como list é o nome de uma função integrada, você deve evitar usá-lo como nome de
variável. Também evito usar l porque parece demais com 1. É por isso que uso t

A função list quebra uma string em letras individuais. Se você quiser quebrar uma string em palavras, você pode usar o método split:

In [ ]:
s = 'pining for the fjords'
t = s.split()
t

['pining', 'for', 'the', 'fjords']

Um argumento opcional chamado delimiter especifica quais caracteres podem ser usados para demonstrar os limites das palavras. O exemplo seguinte usa um hífen como delimitador:

In [ ]:
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)
t

['spam', 'spam', 'spam']

**join** é o contrário de split. Ele toma uma lista de strings e concatena os elementos. **join** é um método de string, então é preciso invocá-lo no delimitador e passar a lista como parâmetro:

In [ ]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s

'pining for the fjords'

Nesse caso, o delimitador é um caractere de espaço, então join coloca um espaço entre as palavras. Para concatenar strings sem espaços, você pode usar a string vazia '', como delimitador.

In [ ]:
sem_espacos = ''.join(t)
sem_espacos

'piningforthefjords'

<h2> 10.10 - Objetos e valores </h2>

Se executarmos essas instruções de atribuição:

In [ ]:
a = 'banana'
b = 'banana'

Sabemos que a e b se referem a uma string, mas não sabemos se elas se referem à mesma string.

Em um caso, a e b se referem a dois objetos diferentes que têm o mesmo valor. No
segundo caso, elas se referem ao mesmo objeto.

Para verificar se duas variáveis se referem ao mesmo objeto, você pode usar o operador **is**:

In [ ]:
a is b

True

Nesse exemplo, o Python criou apenas um objeto de string e tanto a quanto b se referem a ele. Mas quando você cria duas listas, você tem dois objetos:

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

**Objeto vs. Valor:**

- Um **objeto** é algo específico na memória do computador.
- O **valor** é o que esse objeto contém.

**Mesmos objetos (idênticos):**

Se duas variáveis apontam para o mesmo objeto na memória, elas são **idênticas**. Isso significa que se você alterar uma, a outra também mudará, porque são literalmente o mesmo objeto.

Exemplo:
```
a = 'banana'
b = a  # Agora, 'a' e 'b' apontam para o mesmo objeto
print(a is b)  # Saída: True
```

**Mesmos valores (equivalentes):**
Se duas variáveis contêm objetos diferentes, mas com o mesmo valor, elas são **equivalentes**.

Exemplo:

```
a = [1, 2, 3]
b = [1, 2, 3]  # 'a' e 'b' são listas diferentes, mas com os mesmos elementos
print(a == b)  # Saída: True (mesmo valor)
print(a is b)  # Saída: False (objetos diferentes)
```

**Resumindo**: se duas variáveis são **idênticas** (**is**), elas apontam para o mesmo objeto na memória. Se são **equivalentes** **(==),** elas têm o mesmo valor, mas podem ser objetos diferentes.

Para **listas**, **dicionários** e **sets**: eles sempre serão objetos diferentes, mesmo que tenham o mesmo valor.
Para **tuplas** e **strings**: o Python pode reutilizar o mesmo objeto para otimização, mas isso não é garantido para tuplas, enquanto é mais comum para strings.

<h2> 10.11 - Alias </h2>

Se a se refere a um objeto e você atribui b = a, então ambas as variáveis se referem ao mesmo objeto.

In [ ]:
a = [1, 2, 3]
b = a
b is a

True

A associação de uma variável com um objeto é chamada de referência. Neste exemplo, há duas referências ao mesmo objeto.

Um objeto com mais de uma referência tem mais de um nome, então dizemos que o objeto tem um alias.

Se o objeto com alias é mutável, alterações feitas em um alias afetam o outro também.

In [ ]:
b[0] = 42
a

[42, 2, 3]

Apesar de esse comportamento poder ser útil, ele é passível de erros. Em geral, é mais seguro evitar usar alias ao trabalhar com objetos mutáveis.

Para objetos imutáveis como strings, usar alias não é um problema tão grande. Neste exemplo:

In [ ]:
a = 'banana'
b = 'banana'

Quase nunca faz diferença se a e b se referem à mesma string ou não.

<h2> 10.12 - Argumentos de listas </h2>

Ao passar uma lista a uma função, a função recebe uma referência à lista. Se a função alterar a lista, quem faz a chamada vê a mudança. Por exemplo, delete_head remove o primeiro elemento de uma lista:

In [ ]:
def delete_head(t):
  del t[0]

In [ ]:
letters = ['a', 'b', 'c']
delete_head(letters)
letters

['b', 'c']

O parâmetro t e a variável letters são alias para o mesmo objeto.

É importante distinguir entre operações que alteram listas e operações que criam novas listas. Por exemplo, o método append altera a lista, mas o operador + cria uma nova lista:

In [ ]:
t1 = [1, 2]
t2 = t1.append(3)
t1

[1, 2, 3]

In [ ]:
t2

Note que append altera a lista e retorna None (na realidade, o console do Python omite o None da saída, mas você pode conferir usando t2 is None).

In [ ]:
t3 = t1 + [4]
t1

[1, 2, 3]

In [ ]:
t3

[1, 2, 3, 4]

O operador + cria uma nova lista e deixa a lista original inalterada.

Essa diferença é importante quando você escreve funções que devem alterar listas. Por exemplo, esta função não remove a cabeça de uma lista:

In [ ]:
def bad_delete_head(t):
  t = t[1:]  # ERRADO

In [ ]:
t4 = [1, 2, 3]
bad_delete_head(t4)
t4

[1, 2, 3]

No início de bad_delete_head, t e t4 se referem à mesma lista. No final, t se refere a uma nova lista, mas t4 ainda se refere à lista original, inalterada.

Uma alternativa é escrever uma função que crie e retorne uma nova lista. Por exemplo, tail retorna tudo, exceto o primeiro elemento de uma lista:

In [ ]:
def tail(t):
  return t[1:]

In [ ]:
tail([1,2,3,4])

[2, 3, 4]

Esta função deixa a lista original inalterada. Ela é usada assim:

In [ ]:
letters = ['a', 'b', 'c']
rest = tail(letters)
rest

['b', 'c']

t = t[1:] dentro de uma função cria uma nova lista e faz a variável t apontar para essa nova lista, mas isso não afeta a lista original que você passou para a função.

Se você quiser modificar a lista original, deve operar diretamente sobre ela sem criar uma nova lista.

Se você quer uma nova lista sem modificar a original, a função deve retornar essa nova lista, como tail faz.

<h2> 10.13 - Depuração </h2>

1. A maior parte dos métodos de listas alteram o argumento e retornam None. Isto é o
oposto dos métodos de strings, que retornam uma nova string e deixam a original
intocada.
Se você está acostumado a escrever código de strings desta forma:
`word = word.strip()`

É tentador escrever código de listas como este:
`t = t.sort() # ERRADO!`

Como sort retorna None, a próxima operação que você executar com t provavelmente
vai falhar. Antes de usar métodos e operadores de listas, você deve ler a documentação com cuidado e testá-los no modo interativo.

2. Escolha o termo e fique com ele.

Parte do problema com listas é que há muitas formas de fazer coisas com elas. Por exemplo, para remover um elemento de uma lista você pode usar pop, remove, del ou até uma atribuição de fatia.
Para adicionar um elemento você pode usar o método append ou o operador +.
Assumindo que t é uma lista e x é um elemento da lista, isto está correto:


```
t.append(x)
t = t + [x]
t += [x]
E isto está errado:
t.append([x]) # ERRADO!
t = t.append(x) # ERRADO!
t + [x] # ERRADO!
t = t + x # ERRADO!
```

In [ ]:
x

'b'

In [ ]:
t.append(x) # adiciona o elemento x (b) ao final da lista t.
t

['pining', 'for', 'the', 'fjords', 'b', 'b']

In [ ]:
t = t + [x] # cria uma nova lista somando t e [x], e faz t apontar para essa nova lista.
t

['pining', 'for', 'the', 'fjords', 'b', 'b', 'b']

In [ ]:
t += [x] # adiciona x ao final de t, similar ao t.append(x), mas usando o operador +=.
t

['pining', 'for', 'the', 'fjords', 'b', 'b', 'b', 'b', 'b']

In [ ]:
t.append([x]) # ERRADO! adiciona uma lista contendo x como um único elemento ao final de t, em vez de adicionar apenas o valor de x.
t

['pining', 'for', 'the', 'fjords', 'b', 'b', 'b', 'b', 'b', ['b'], ['b']]

In [ ]:
t = t.append(x) # ERRADO! errado porque t.append(x) modifica t em lugar e retorna None. Atribuir o resultado de t.append(x) a t faz t virar None, perdendo a lista original.
t

AttributeError: 'NoneType' object has no attribute 'append'

In [ ]:
t + [x] # ERRADO! Errado se você esperava que a lista t fosse modificada diretamente. Esse comando cria uma nova lista, mas não a armazena em lugar nenhum.

TypeError: unsupported operand type(s) for +: 'NoneType' and 'list'

In [ ]:
t = t + x # ERRADO! Errado porque x precisa ser uma lista (ou outro tipo compatível com soma de listas). Se x não for uma lista, o Python gerará um erro.

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

**Resumindo:**
Use append(x) ou += [x] para adicionar elementos a uma lista.
Evite usar t = t.append(x) ou adicionar listas erradas, como [x], a menos que seja exatamente o que você quer.
Certifique-se de que, ao usar +, você esteja somando listas compatíveis, ou a operação falhará.

3. Faça cópias para evitar o uso de alias.
Se quiser usar um método como sort, que altera o argumento, mas precisa manter a
lista original, você pode fazer uma cópia:

In [ ]:
t = [3, 1, 2]
t2 = t[:]

In [ ]:
t2.sort()

In [ ]:
t2

[1, 2, 3]

In [ ]:
t

[3, 1, 2]

Neste exemplo você poderia usar também a função integrada sorted, que retorna uma nova lista classificada e deixa a original intocada.

In [ ]:
t2 = sorted(t)

In [ ]:
t2

[1, 2, 3]

In [ ]:
t

[3, 1, 2]

<h2> 10.14 - Glossário </h2>

- lista: Uma sequência de valores.

- elemento: Um dos valores em uma lista (ou outra sequência), também chamado de item.

- lista aninhada: Uma lista que é um elemento de outra lista.

- acumuladora: Variável usada em um loop para adicionar ou acumular um resultado.

- atribuição aumentada: Instrução que atualiza o valor de uma variável usando um operador como +=.

- redução: Padrão de processamento que atravessa uma sequência e acumula os elementos em um único resultado.

- mapeamento: Padrão de processamento que atravessa uma sequência e executa uma operação em cada elemento.

- filtragem: Padrão de processamento que atravessa uma lista e seleciona os elementos que satisfazem algum critério.

- objeto: Algo a que uma variável pode se referir. Um objeto tem um tipo e um valor.

- equivalente: Ter o mesmo valor.

- idêntico: Ser o mesmo objeto (o que implica equivalência).

- referência: Associação entre uma variável e seu valor.

- alias: Uma circunstância onde duas ou mais variáveis se referem ao mesmo objeto.

- delimitador: Um caractere ou uma string usada para indicar onde uma string deve ser dividida.

<h2> 10.15 - Exercícios <h2>

<h3> Exercício 10.1 </h3>

Escreva uma função chamada nested_sum que receba uma lista de listas de números
inteiros e adicione os elementos de todas as listas aninhadas. Por exemplo:

```
>>> t = [[1, 2], [3], [4, 5, 6]]
>>> nested_sum(t)
21
```

In [ ]:
def nested_sum(lista):
  soma_total = 0

  for x in lista:
    if isinstance(x, list):
      for item_sublista in x:
        soma_total += item_sublista
    else:
      soma_total += x

  return soma_total

In [ ]:
t = [[1, 2], [3], [4, 5, 6]]
nested_sum(t)

21

<h2> Exercício 10.2 </h2>

Escreva uma função chamada cumsum que receba uma lista de números e retorne a soma cumulativa; isto é, uma nova lista onde o i-ésimo elemento é a soma dos primeiros i+1 elementos da lista original. Por exemplo:

```
t = [1, 2, 3]
cumsum(t)
[1, 3, 6]
```

In [ ]:
def cumsum(lista):
  soma_cumulativa = 0
  nova_lista = []

  for i in range(len(lista)):
      soma_cumulativa += lista[i]
      nova_lista.append(soma_cumulativa)

  return nova_lista

In [ ]:
t = [1, 2, 3]
cumsum(t)

[1, 3, 6]

<h2> Exercício 10.3 </h2>

Escreva uma função chamada middle que receba uma lista e retorne uma nova lista com todos os elementos originais, exceto os primeiros e os últimos elementos. Por exemplo:

```
>>> t = [1, 2, 3, 4]
>>> middle(t)
[2, 3]
```

In [ ]:
def middle(lista):
  nova_lista = []

  for i in range(len(lista)):
    if i == 0 or i == len(lista)-1:
      continue
    else:
      nova_lista.append(lista[i])

  return nova_lista

In [ ]:
t = [1, 2, 3, 4]
middle(t)

[2, 3]

<h2> Exercício 10.4 </h2>

Escreva uma função chamada chop que tome uma lista alterando-a para remover o
primeiro e o último elementos, e retorne None. Por exemplo:

```
>>> t = [1, 2, 3, 4]
>>> chop(t)
>>> t
[2, 3]
```

In [ ]:
def chop(lista):
  lista.pop(0)
  lista.pop(len(lista)-1)

In [ ]:
t = [1, 2, 3, 4]
chop(t)

In [ ]:
t

[2, 3]

<h2> Exercício 10.5 </h2>

Escreva uma função chamada is_sorted que tome uma lista como parâmetro e retorne True se a lista estiver classificada em ordem ascendente, e False se não for o caso. Por exemplo:

```
>>> is_sorted([1, 2, 2])
True
>>> is_sorted(['b', 'a'])
False
```

In [ ]:
def is_sorted(lista):
  for i in range(len(lista)-1):
    if lista[i] > lista[i+1]:
      return False

  return True

In [ ]:
is_sorted([1, 2, 2]) # True

True

In [ ]:
is_sorted(['b', 'a']) # False

False

<h2> Exercício 10.6 </h2>

Duas palavras são anagramas se você puder soletrar uma rearranjando as letras da outra. Escreva uma função chamada is_anagram que tome duas strings e retorne True se forem anagramas.

In [173]:
def is_anagram(string1, string2):
  contagem = 0
  lista_contagem_s1 = []
  lista_contagem_s2 = []
  verifica_letras = []

  if len(string1) != len(string2):
    return False

  # contar a frequência de cada letra na string1
  for l in string1:
     # verifica se já foi armazenado a quantidade de ocorrências daquela letra
    if l in verifica_letras:
      continue
    else:
      verifica_letras.append(l)
      contagem = string1.count(l)
      lista_contagem_s1.append(l + str(contagem))
      contagem = 0

  # zera a lista para usá-la novamente
  verifica_letras = []

  # contar a frequência de cada letra na string2
  for l in string2:
    # verifica se já foi armazenado a quantidade de ocorrências daquela letra
    if l in verifica_letras:
      continue
    else:
      verifica_letras.append(l)
      contagem = string2.count(l)
      lista_contagem_s2.append(l + str(contagem))
      contagem = 0

  # verifica se os valores das duas são iguais. é necessário usar sorted para deixar os valores
  # na mesma ordem. se fosse um dicionário, ele ignora a ordem dos valores, e compararia normalmente
  if sorted(lista_contagem_s1) == sorted(lista_contagem_s2):
    print(lista_contagem_s1, lista_contagem_s2)
    return True
  else:
    print(lista_contagem_s1, lista_contagem_s2)
    return False

In [174]:
is_anagram('teste', 'tes!e')

['t2', 'e2', 's1'] ['t1', 'e2', 's1', '!1']

False

In [175]:
is_anagram('amor', 'rato')

['a1', 'm1', 'o1', 'r1'] ['r1', 'a1', 't1', 'o1']

False

In [176]:
is_anagram('bola', 'alob')

['b1', 'o1', 'l1', 'a1'] ['a1', 'l1', 'o1', 'b1']

True

In [177]:
is_anagram('casa', 'saco')

['c1', 'a2', 's1'] ['s1', 'a1', 'c1', 'o1']

False

In [178]:
is_anagram('amor', 'roma')

['a1', 'm1', 'o1', 'r1'] ['r1', 'o1', 'm1', 'a1']

True

<h2> Exercício 10.7 </h2>

Escreva uma função chamada has_duplicates que tome uma lista e retorne True se houver algum elemento que apareça mais de uma vez. Ela não deve modificar a lista original.

In [179]:
def has_duplicates(lista):
  for i in lista:
    if lista.count(i) > 1:
      return True

  return False

In [180]:
has_duplicates('brendaa') # True

True

In [181]:
has_duplicates('brenda') # False

False

<h2> Exercício 10.8 </h2>

Este exercício pertence ao assim chamado Paradoxo de aniversário, sobre o qual você pode ler em http://en.wikipedia.org/wiki/Birthday_paradox.
Se há 23 alunos na sua sala, quais são as chances de dois deles fazerem aniversário no mesmo dia? Você pode estimar esta probabilidade gerando amostras aleatórias de 23 dias de aniversário e verificando as correspondências. Dica: você pode gerar aniversários aleatórios com a função randint no módulo random.
Se quiser, você pode baixar minha solução em http://thinkpython2.com/code/birthday.py.

In [ ]:
import random as r

# gera um número inteiro aleatório entre 1 e 23, contando com o 23
numero_aleatorio = r.randint(1, 10)